version: "3.8"

services:
  dev-db:
    image: postgres:13
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - freecodecamp

networks:
  freecodecamp:


# şu anlama gelir:
# Veritabanına bağlanırken:
# kullanıcı = postgres
# Prisma sadece bu bilgileri .env içinden okuyup bağlanır.